<div class="container">
    <!-- <div class="source-map-wrapper">
        <div class="tiles-wrapper">
            <div class="tile-col" *ngFor="let x of tileRow">
                <div (click)="_consoleTile(x, y)" [class]="'tile tile-' + ((x + y) % 2) + ' ' + (activeX === x && activeY === y ? ' active' : '') " *ngFor="let y of tileCol"></div>
            </div>
        </div>
        <img class="source-map" src="/assets/kanto-world-map.png">
    </div> -->
    <p>Map <a (click)="toggleMap()">+/-</a></p>
    <div [class]="'map-wrapper' + (showMap ? ' show' : ' hide')">
        <div class="map">
            <moo-line *ngFor="let line of lines" [pointA]="line.pointA" [pointB]="line.pointB"></moo-line>

            <ng-container *ngFor="let pokeLocationMapObj of pokeLocationMapObjs">
                <moo-poke-location-map-obj #pokeLocationObjs [pokeLocationMapObj]="pokeLocationMapObj" class="map-obj" [style.top]="pokeLocationMapObj.top" [style.left]="pokeLocationMapObj.left">
                </moo-poke-location-map-obj>
            </ng-container>
        </div>
    </div>
    <!-- <div #pointA class="point-a"></div>
    <div #pointB class="point-b"></div>
    <moo-line [pointA]="pointA" [pointB]="pointB"></moo-line> -->

    <p>Location: {{ pokeLocation }}</p>
    
    <ng-container *ngIf="!pokeLocationData">
        <p>Unexpected issue loading pokeLocation data for this location</p>
    </ng-container>
    <ng-container *ngIf="pokeLocationData">
        <ng-container *ngFor="let filteredSpawnPokemonData of filteredSpawnPokemonArrays">
            <p>~ Spawn Type: {{ filteredSpawnPokemonData.spawnType }}</p>

            <ng-container *ngIf="filteredSpawnPokemonData.locationPokemonDatas as _locationPokemonDatas">
                <ng-container *ngFor="let _locationPokemonData of _locationPokemonDatas">
                    <ng-container *ngIf="_locationPokemonData">
                        <p>~ ~ Pokemon: {{ _locationPokemonData.pokemon }} Lv
                            {{ _locationPokemonData.minLevel }}
                            {{ _locationPokemonData.minLevel !== _locationPokemonData.maxLevel ? (' - ' + _locationPokemonData.maxLevel) : '' }} ~ Spawn Rate: 
                            {{ _locationPokemonData.mixRatePercent | percent:'1.0-2' }} ({{ _locationPokemonData.mixRate }} / {{ _locationPokemonData.totalRate }})
                        </p>
                        <p *ngIf="_locationPokemonData.note">~ ~ ~ {{ _locationPokemonData.note }}</p>
                    </ng-container>
                </ng-container>
            </ng-container>
            
        </ng-container>
    </ng-container>
</div>
