<div class="container">
    <div class="source-map-wrapper">
        <div class="tiles-wrapper">
            <div class="tile-col" *ngFor="let x of tileRow">
                <div (click)="_consoleTile(x, y)" [class]="'tile tile-' + ((x + y) % 2) + ' ' + (activeX === x && activeY === y ? ' active' : '') " *ngFor="let y of tileCol"></div>
            </div>
        </div>
        <img class="source-map" src="/assets/kanto-world-map.png">
    </div>
    <div class="map-wrapper">
        <div class="map">
            <moo-line *ngFor="let line of lines" [pointA]="line.pointA" [pointB]="line.pointB"></moo-line>

            <ng-container *ngFor="let pokeLocationMapObj of pokeLocationMapObjs">
                <moo-poke-location-map-obj #pokeLocationObjs [pokeLocationMapObj]="pokeLocationMapObj" class="map-obj" [style.top]="pokeLocationMapObj.top" [style.left]="pokeLocationMapObj.left">
                </moo-poke-location-map-obj>
            </ng-container>
        </div>
    </div>
    <div #pointA class="point-a"></div>
    <div #pointB class="point-b"></div>
    <moo-line [pointA]="pointA" [pointB]="pointB"></moo-line>
    
    <!-- <ng-container *ngIf="!pokeLocationData">
        <p *ngFor="let pokeLocation of pokeLocations"><a (click)="setPokeLocation(pokeLocation)">{{ pokeLocation }}</a></p>
    </ng-container>
    <ng-container *ngIf="pokeLocationData">
        <p *ngFor="let pokeLocation of pokeLocationData.connections"><a (click)="setPokeLocation(pokeLocation)">{{ pokeLocation }}</a></p>
    </ng-container>-->
</div>
